.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.header {
  display: flex;
  width: 100%;
  height: 3.5rem;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
}

.menu > div:hover {
  cursor: pointer;
}

.footer {
  background-color: #2e2e2e;
  display: flex;
  flex-direction: column;
}

.link-items-container {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: white;
}

.about-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.body {
  flex-grow: 1;
}

.swiper-slide-banner {
  width: 100%;
  height: 30rem;
}

.collection-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-items: center;
}

.home-collections {
  display: flex;
  flex-direction: row;
}

.collection {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.collection:hover {
cursor: pointer;
}

.collection-image {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
}

.collection-image:hover {
  transform: scale(1.1);
}

.sales {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  justify-content: space-around;
}

.sale-item {
  display: flex;
}

.sale-item-title {
  font-weight: 500;
  font-size: 1.05rem;
}

.sale-image {
  margin-right: 0.5rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
cursor: pointer;
}

.menu > a {
  flex-grow: 1;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.collection-options {
  padding-top: 0.5rem;
  position: absolute;
  left: 0;
  top: 3.5rem;
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-bottom: 0.5rem;
  height: calc(100vh - 3.5rem);
}

.image-cards {
  margin-top: 2rem;
  width: 40%;
  display: flex;
}

.image-card {
  margin-left: 2rem;
  width: 13rem;
  height: 20rem;
}

.image-card > img {
  border-radius: 1rem;
}

.collections {
  flex-grow: 1;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.collections > a {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  height: 1.8rem;
  padding-top: 0.02rem;
  padding-bottom: 0.02rem;
  font-size: large;
}

.collections > a:hover {
  color: blue;
  background-color: rgb(248, 246, 243);
}